.headPanel
{
	font-weight : bold;
	text-align : center;	
}
.panelSize
{

              min-height: 510px;
              max-height:510px; 
          
        
}
.voteButton
{
	min-width: 100%;
   /* max-width: 250px;*/
}
.hideButton
{
	display:none;
}
.showButton
{
	display:block;
}
.movieDesc
{
	height: 200px;
	margin-bottom:20px;
}
.displayDirector,.displayOriginalName,.displayReleaseDate,.displayIMDBLink
{
	height:10px;
}
.displayVoteButton
{

margin-top:130px;

}