<template name="siteDescriptionSection">
<div class="container siteDescriptionMoto thumbnail">
	<div class="row">			
		<div class="col-md-10" >
				Movie Club is showcasing work of great European directors from next month.Register and vote for movies you want to watch and learn.
				Purpose of this website is to increase your participation, instead of faculty you are giving opportunity to choose movies from the given list.
				You have to submit report on movies we saw on Monday and Tuesday before each clas dissect the movies.
								
				You can vote till end of this month.
		</div>		
		<div class="col-md-2">
			<img class="img-responsive" src="snapCamera.png" width="125px" height="125px">
		</div>
	</div>	

	<div class="row">
		<div class="col-md-12">				
				Movie with maximum votes will be shown on Friday and Saturday Nights @ 8pm in auditorium.
		</div>
	</div>
</div>
</template>